tramp
smex-items
kkcrc
*~
*.last
eshell/
*theme.el
bookmarks
elpa/
eshell/
recentf
tramp
tuareg-*
desktops/
adafruit*
auto-*
#*
.cache/
.lsp-session-v1
abbrev_defs
bash.exe.stackdump
company-statistics-cache.el
configuration.el
cygwin-mount.el
org-clock-save.el
projectile-bookmarks.eld
projectile.cache
request/
server/
url/
straight/
session.*
transient/
quelpa/
persist/
org-gcal/
.org*
type-break
org-roam.db
config.el
eln-cache/
elfeed

savehist
saveplace
projects
magithub
eww-bookmarks
dune*
diary
desktop

package-quickstart*
desktop*
share/*
/.emacs.desktop.lock
/racket-mode/
/network-security.data
/local/
/.dap-breakpoints
